    #menubar {
        font-size: 50px;
        text-decoration: none;
        color: black;
        position: absolute;
    }
    
    #project,
    #service,
    #home {
        text-decoration: none;
        font-size: 60px;
        color: black;
        margin-left: 50px;
        word-spacing: 20px;
        margin-bottom: 70px
    }
    
    #menuwidth {
        width: 0px;
        height: 500px;
        background-color: rgb(225, 234, 235);
        transition: 2s;
        padding-top: 20px;
        overflow-x: hidden;
        margin-bottom: 250px;
        display: grid;
        justify-content: center;
        position: absolute;
    }
    
    #close {
        color: black;
        text-decoration: none;
        right: 2px;
        top: 0px;
        margin-top: 10px;
        margin-right: 60px;
        font-size: 30px
    }
    
    #image1 {
        margin-left: 50px;
        animation-name: image2;
        animation-duration: 3s;
    }
    
    @keyframes image2 {
        from {
            height: 600px;
        }
    }
    
    #home1 {
        font-size: 30px;
        position: absolute;
        margin-left: 800px;
        width: 600px;
        height: 700px;
        box-sizing: border-box;
        border-style: ridge;
    }
    
    #service:hover,
    #project:hover,
    #home:hover,
    #close:hover,
    #projects:hover {
        color: rgb(213, 148, 35)
    }
    
    #close:hover,
    #contact:hover {
        color: rgb(213, 148, 35)
    }
    
    #contact {
        font-size: 100px;
        margin-left: 600px;
        justify-content: center;
        position: absolute;
        margin-top: 10px
    }
    
    #lastname {
        margin-left: 900px;
        width: 200px;
        height: 50px;
        font-size: 30px;
        margin-top: 200px
    }
    
    #firstname {
        margin-left: 500px;
        width: 200px;
        height: 50px;
        font-size: 30px;
        position: absolute;
        margin-top: 200px
    }
    
    #email {
        width: 600px;
        height: 50px;
        font-size: 30px;
        margin-top: 20px;
        margin-left: 500px
    }
    
    #textarea {
        margin-left: 500px;
        width: 600px;
        height: 200px;
        font-size: 30px;
        position: absolute;
        margin-top: 20px;
    }
    
    #submit {
        margin-left: 500px;
        width: 600px;
        height: 50px;
        font-size: 30px;
        position: absolute;
        margin-top: 300px;
        background-color: rgb(213, 148, 35);
    }
    
    #home2 {
        width: 0px;
        height: 0px;
        border-left: 500px solid transparent;
        border-right: 500px solid transparent;
        border-bottom: 1000px solid rgb(163, 124, 58);
        margin-left: 190px;
        position: absolute;
    }
    
    #clock {
        width: 450px;
        margin-left: 50px
    }
    
    #calculator {
        width: 450px;
        margin-left: 50px
    }
    
    #drum {
        width: 450px;
        margin-left: 50px;
    }
    
    #drumlink {
        position: absolute;
        display: flex;
        margin-left: 200px;
        text-decoration: none;
        font-size: 30px;
        color: black
    }
    
    #clocklink {
        position: absolute;
        display: flex;
        margin-left: 700px;
        text-decoration: none;
        font-size: 30px;
        color: black
    }
    
    #calculatorlink {
        position: absolute;
        display: flex;
        margin-left: 1170px;
        text-decoration: none;
        font-size: 30px;
        color: black
    }
    
    #projects {
        font-size: 100px;
        margin-left: 600px;
        position: absolute;
    }
    
    #projectrap {
        position: absolute;
        margin-top: 410px;
    }